body{
    background-image: url("assets/images/background.jpeg");
    
}

h1{
    color: rgb(17, 52, 150);
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    background-color: transparent;
    
}

p{
    font-weight: bold;
    font-size: 25px;
    font-weight: bold;
    color: rgb(17, 52, 150);
    padding: 0, 10px, 0, 10px;

}

.gif-btn{
    margin: 10px;
    background-color: rgb(17, 52, 150);
    color: white;
}

#add-gifs{
    background-color:  rgb(17, 52, 150);
    color: white;
}

.container{
    background-color: transparent;
    align-content: center;
}

label{
    align-content: center;
    background-color:  rgb(17, 52, 150);
    color: white;
    margin: 0px 10px 10px 0px;
    text-align: center
}